//Page Background Color
// Light Theme
// @theme_background: #EFEFEF;
@theme_background: #000000; // Dark Theme
// Theme Color
// @theme_main: #000000; 
@theme_main: #222326; //edit1001
// Card background color
// @theme_cardbg: white;
// @theme_cardbg: #000A12; // Dark theme
@theme_cardbg: #090c0e; //edit1001



// If you want to customize the color more freely, you can modify several items here:

// background color ----------------
// navigation bar background, default and theme color consistent
// @color_bg_navbar: #000000;
@color_bg_navbar: #353535; //edit1001
// The background color of the code
@color_bg_code: fade(@theme_main, 10%);
// The background color of the code block
@color_bg_code_block: #262626;
// referenced color
@color_bg_quote: @theme_main;
// Check the background color of some text
@color_bg_selection: fade(#ffffff, 10%);

// text color ----------------

// title text color (h1/h2)
// @color_text_header: @theme_main;
@color_text_header: #82ffff; //edit1001
// title text color (h3)
@color_text_h3: darken(@color_text_main, 20%);
// link color
@color_text_link: #ffffff;
// link highlight color
@color_text_highlight: #88ffff;
// text displayed in the theme color (usually white or dark gray)
@color_text_in_header: #88ffff;
// body text color
// @color_text_main: @white;
@color_text_main: @white; // Dark theme
